parameters:
	level: 8
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	doctrine:
	    objectManagerLoader: tests/object-manager.php
	universalObjectCratesClasses:
	    - RPGFaker\RPGFaker
	paths:
		- src